@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/digital-numbers');

:root{
    --spacing: 2rem;
    --text-color: aliceblue;
    --background-color: black;
    --accent-color: #00FF73;
    --digital-type: 'Digital Numbers', sans-serif;
}

/* everything mobile */
body {
    font-size: 125%;
    line-height: 2rem;
    font-family: "Inconsolata", monospace;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: var(--spacing);

    
    
    /* grid for desktop */
    @media (width>600px){
        /* grid-template-rows: 6rem 65vh 6rem; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'header main main'
            'header main main'
            'footer footer footer'; 
            /* Set up our grid. */
    }

    header{
        h1{
        font-size: 2rem;
        line-height: 3rem;
        font-family: var(--digital-type);
        border-radius: 0.75rem;
        border: 0.1rem dashed var(--accent-color);
        background: rgba(0, 255, 115, 0.20);
        backdrop-filter: blur(1rem);

        @media (width>600px){
        font-size: 2rem;
        grid-area: header;
        }
        }
    }

    main{
        grid-area: main;
        background-color: blue;
    }

    footer{
        grid-area: footer;
        background-color: yellow;
    }

    .in_parentheses{
       font-style: light;
    }

    .superscript{
         vertical-align: super;
        font-size: smaller;
    }

    p{
     margin-block-start: calc(2*var(--spacing));
    }

    em {
        font-style: italic;
    }              
}




@media(width>600px){
    :root{
        --spacing: 1rem;
        font-size: 100%;
    /* font-family: 'Courier New', Courier, monospace; */
    }
}


@media print {
    :root{
        --text-color: black;
        --background-color: white;
    }
}



