:root{
    --spacing: 2rem;
    font-size: 125%;
    font-family: 'Courier New', Courier, monospace;
}

@media(width>600px){
    :root{
        --spacing: 1rem;
    font-size: 200%;
    /* font-family: 'Courier New', Courier, monospace; */
    }
}

body{
    padding: var(--spacing);
}

h1{
    font-size: 2rem;

    @media(width: 800px){
        font-size: 4rem;
    }
}

p{
    margin-block-start: calc(2*var(--spacing));
}